@model StudentAttendanceManagementSystem.Models.Authentication.JobReportRegistration
@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentAttendanceManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>
    <header class="container-fluid sticky-top px-0">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SAMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Supervisor" asp-action="Index"  asp-route-id="@ViewBag.id">Dashboard</a>
                        </li>
                       
                    </ul>
                     <partial name="_LoginPartial" />
                    
                    
                </div>
            </div>
        </nav>
    </header>

    <hr>

    <div class="container">
      <div class="row mx-0 justify-content-center">
        <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
          <form
            asp-area="" asp-controller="JobReport" asp-action="Create" 
            method="post"
          
          >
            <label class="d-block mb-4">
              <span class="form-label d-block" style="color: rgb(239, 8, 8); font-size: xx-large;">Report</span>
              <textarea
                asp-for="Content" 
                class="form-control"
                rows="3"
                placeholder="Please add your Report"
              ></textarea>
            </label>
            <input class="d-none"  asp-for="SupervisorId" type="text" value=@ViewBag.id >

            <div class="mb-3">
              <button type="submit" class="btn btn-info px-3 rounded-3">
                Submit
              </button>

              <div class="flex">
                <a class="btn mt-5 btn-info" asp-area="" asp-controller="Supervisor" asp-route-id="@ViewBag.id" asp-action="Index">Go back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="border-top footer text-muted bg-info">
        <div class="container">
            &copy; @DateTime.Now.Year - Student Attendance Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>